#headerTitle {
    font-weight: bold;
    color: var(--link-hover-color);
    font-size: 3rem;
    transition: color 0.3s ease;
}
#contentsTitle {
    font-weight: bold;
    color: var(--link-color);
    font-size: 1rem;
    transition: color 0.3s ease;
}
#contentsItem {
    color: var(--text-color);
    font-size: 0.9rem;
    transition: color 0.3s ease;
}
#contentsHyperlink{
    font-weight: bold;
    font-size: 0.9rem;
}
#creditTitle {
    font-weight: bold;
    color: var(--link-color);
    font-size: 2rem;
    transition: color 0.3s ease;
}
.outsideRedirectContainer {
    color: var(--text-color);
    font-weight: bold;
    font-size: 2rem;
    transition: color 0.3s ease;
}
.outsideRedirectContainer:hover {
    color: var(--link-hover-color);
}
.textBody {
    color: var(--text-color);
    font-size: 0.9rem;
    transition: color 0.3s ease;
}
#subTitle {
    color: var(--link-color);
    font-size: 1.5rem;
    font-weight: bold;
    transition: color 0.3s ease;
}
.tableOfContents {
    position: sticky;
    top: 30%;
}
.page-container {
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: calc(100vh - 70px); /* Assuming 70px navbar height */
  transition: background-color 0.3s ease, color 0.3s ease;
}
